extends ./layout.pug

block title
  title= title

block content
    div(class="row")
        heading
            h3= 'Week starting: ' + moment.unix(week.start_date).format('dddd, MMMM Do YYYY')
    div(class="row")
        a.u-pull-left(href=prev_week) Previous week
        a.u-pull-right(href=next_week) Next week
        if(week.articles && week.articles.length > 0)
            include ./includes/articles.pug